{% extends "parent.html" %}
{% block content %}
<body>
    <h2> Modify: </h2>
    <form method="POST" action="/main/{{ budget_id }}/">
        {{ form_budget.hidden_tag() }}
        <table class="table">
            {% for field in form_budget if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Save" name="btn" class="btn btn-primary">
        <input type="submit" value="Delete" name="btn" class="btn btn-primary">
    </form>
</body>
{% endblock %}