{% extends "parent.html" %}
{% block content %}
<div class="container">
    
    <h2 class="text-center">Expenses</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Comment</th>
        </thead>
    {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.expense_type }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.comment }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
</body>
{% endblock %}