{% extends "parent.html" %}
{% block content %}

<div class="container">
    <h2>Your budget for {{ month }}</h2>
    <table class="col table table-sm table-bordered">
        <thead>
            <th>Expense type</th>
            <th>Already spent this month</th>
            <th>Budget</th>
        </thead>
    {% for budget in budgets %}
        <tr>
            <td><a href="/main/budget/{{ loop.index }}">{{ budget.expense_type }}</a></td>
            <td> {{ budget.sum }} </td>
            <td>{{ budget.budget }}</td>
        </tr>
    {% endfor %}
    </table>
    <div class="table-bordered">
        <p><b>Your total budget for this month:</b> {{ total_budget }}</p>
        <p><b>Amount which you can still spend:</b> {{ amount_left }}</p>
    </div>   
        
</div>
</body>
{% endblock %}