<!doctype html>
<html lang="pl">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>Family budget</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        
    {% endblock %}
    </head>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <body>
        <div class="jumbotron">
            <div class="header display-4 font-weight-bold text-uppercase text-center">
                <h1 class="title">Family budget</h1>
            </div>
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
    </body>
</html>